<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
<div>
    <form method="post">
        <label>
            <input type="text" name="text" placeholder="Enter message"/>
        </label>
        <label>
            <input type="text" name="eventDate" placeholder="Enter date of event in format: yyyy-mm-dd"/>
        </label>
        <br/>
        <input type="submit" value="Create!"/>
    </form>
</div>
<h1>List of notes</h1>
<div th:each="note : ${notes}">
    <p th:text="${note.getId() + ' ' + note.getText() + ' Date of creating: ' + note.getCreatedDate + ' Date of call: ' + note.getEventDate()}"></p>
</div>

</body>
</html>